.d3-trace-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid darkgoldenrod;
  .d3-trace-graph {
    width: 100%;
  }
  .d3-trace-table {
    width: 100%;
  }
  .trace-row {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    height: 30px;
    .trace-left-col {
      flex-basis: 25%;
    }
    .trace-right-col {
      flex-basis: 75%;
      border-left: 1px solid #ccc;
    }
  }

  .left-col-span {
    overflow: hidden;
  }
}
