.d3-trace-wrapper {
  .trace-row {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    height: 30px;
    .trace-left-col {
      flex-basis: 25%;
    }
    .trace-right-col {
      flex-basis: 75%;
      border-left: 1px solid #ccc;
    }
  }

  .left-col-span {
    overflow: hidden;
  }
}
